:root {
  margin-top: 0px;
}

body {
  background-image: url("assets/Background-Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
 }
 
.title {
  margin: 10px;
  font-weight: 400;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#logo {
  padding: 10px;
  height: 60px;
  width: 60px;
}

.Student-Homework {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-evenly;
  z-index: 1;
}

.Student-Lectures {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-evenly;
  z-index: 1;
}

.card {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}


.Student-Announcements {
  margin-left: 3%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}