:root {
  margin-top: 0px;
}

body {
  background-image: url("assets/Background-Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
 }
 
.title {
  margin: 10px;
  font-weight: 400;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#logo {
  padding: 10px;
  height: 60px;
  width: 60px;
}