.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    background: #2b1045ff;
    padding-bottom: 30px;
    height: 40%;
    width: 25%;
    border-style: solid;
    border-color: #53207f;
    border-width: thick;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.text {
    color: whitesmoke;
    font-size: 48px;
    font-weight: 700px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.underline {
    width: 300px;
    height: 3px;
    background: #53207f;
    border-radius: 9px;
}

.inputs {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 10%;
    background: whitesmoke;
    border-radius: 6px;
}

.input img {
    margin: 0px 15px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: grey;
    font-size: 19 px;
}

.submit-container {
    display: flex;
    justify-content: center;
    width: auto;
    gap: 30px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    color: white;
    background: #53207f;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 400;
    cursor: pointer;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.submit.gray {
    background: rgb(221, 220, 220);
    color: rgb(61, 61, 61);
}
